NewCV.css

.row {
	width: 94%;
	max-width: 100%;
	margin: 0 auto;
}

/*
VS Code blue:
color: hsl(201, 89%, 54%);

Fredrik blue
color: hsl(224, 100%, 58%);*/

html {
	scroll-behavior: smooth;
}
h5 {
	color: black;
	font-family: 'Alegreya', serif;
	font-size: 24px;

	margin-bottom: 0;
}

p {
	color: black;
	font-family: 'Courier New', Courier, monospace;
	font-size: 18px;

	margin-bottom: 0;
}
/*
font-family: 'Ubuntu', sans-serif;
font-family: 'Alegreya', serif;
*/


 #navbar {
  background-color: transparent; 
  position: fixed;
  top: 8px;
  width: 100%; 
  transition: top 0.3s;  

}

#navbar a {
  float: right;
  display: block;
  color: hsl(0, 0%, 25%);
  text-align: center;
  padding: 8px;
  margin-right: 10%;
  text-decoration: none;
  font-family: 'Alegreya', serif;
  border-radius: 5px;
}

#navbar a:hover {
  background-color: hsl(201, 89%, 54%);
  color: white;
}





/*---------------------------------------
HEADER END--------------------------------*/
 
/*----------------------------------------
LANDING -------------------------*/

#landing-page {
	/*Image imported from Unsplash. Didn't know how to import from folder (images)*/
	background: hsl(0, 0%, 25%) url(https://images.unsplash.com/photo-1631477076114-9123f721b9dc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
	/*background-image: url(images/fakurian-design-_S-zZyQiOr8-unsplash.jpg);*/
	background-size: cover;
	background-attachment:fixed;
    background-position: center;
	width: 100%;
	height: 100%;
	min-height: 840px;
	display: table;
	position: relative;
	text-align: center;
}

.landing-content {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.landing-content h1 {
	color: #FFFFFF;
	font-family: 'Alegreya', serif;
	font-size:85px;
	line-height: 125px;
	max-width: 900px;
	margin-top: 0;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
}
.landing-content h3 {
	color: hsl(201, 89%, 54%);
	font-family: 'Courier New', Courier, monospace;
	font-size: 30px;
	line-height: 55px;
	margin-bottom: 0;
	text-transform: uppercase;
	letter-spacing: 5px;
}
.landing-content .landing-title {
	font-family: 'Courier New', Courier, monospace;
	font-size: 20px;
	line-height: 40px;

	letter-spacing: 5px;
	color: white;
}
.landing-content .landing-title span {
	display: inline-block;
}

.landing-content .button-about {
    border: 1px;
	border-style: solid;
    border-radius: 10px;

	color: white;
	border-color: hsl(201, 89%, 54%);

	line-height: 100px ;

	font-family: 'Courier New', Courier, monospace;
	font-size: 20px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 3px;
	text-decoration: none;
	
	padding: 10px;
	position: relative;
	
	
	
}


.landing-content .button-about:hover, .landing-content .button-about:focus {
	border-color: white;
}

.social {
	display: block;
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 115px;
	font-size: 16px;
	margin: 0;
	padding: 0;
}
.social li {
	display: inline-block;
	margin: 0 20px;
	padding: 0;
}
.social li a, .social li a:visited {
	color: white;
}
.social li a:hover, .social li a:focus {
	color: hsl(201, 89%, 54%);
}

/*------------------------------------------
LANDING END -------------------------------------*/

/*------------------------------------------
ABOUT -------------------------------------*/

#about {
    background: #ffffff;
	padding-top: 10px;
	padding-bottom: 10px;
	display: flex;
	text-align: center;
}

#about .about {
    
	margin-bottom: 48px;
}

.about .fredrik h5{
	color: hsl(201, 89%, 54%);
	font-family: 'Alegreya', serif;
	font-size: 24px;
	line-height: 55px;
	margin-bottom: 0;
	text-transform: uppercase;
	letter-spacing: 5px;
}

.about .fredrik h3{
	color: black;
	font-family: 'Alegreya', serif;
	font-size:45px;
	line-height: 75px;
	max-width: 900px;
	margin-top: 0;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
}

.about-me {
	display: grid;
	grid-template-columns: 1fr 4fr;
	margin-left: 15%;
}
.about-me img {
	display: grid;
	height: 140px;
	width: 140px;
	border-radius: 20%;
	margin-left: 45%;
}

.about.intro-text {
	display: grid;

}

.about .intro-text p {
	text-align: left;
	padding-left: 50px;
	width: 60%;
}

/*---------------------------------------
ABOUT END--------------------------------*/
 
/*----------------------------------------
PROFIL AND SKILLS-------------------------*/

#profile-skills {
	margin-right: 10px;
	margin-left: 100px;
	margin-bottom: 100px;
}
.profile-skills {
	display: flex;
	flex-direction: row;
	margin-left: 10%;
	
}

.profile-skills h5 {
	color:black;
	font-family: 'Alegreya', serif;
	font-size: 24px;
	line-height: 20px;
	margin-bottom: 0;
	text-transform: uppercase;
	letter-spacing: 5px;
}


.profile-skills li {
	color: hsl(0, 0%, 25%);
	font-family: 'Courier New', Courier, monospace;
	font-size: 18px;
	min-height: 40px;
	list-style:none;
	margin-bottom: 10px;
}

.profile-skills li strong {
	display: block;
	text-transform: uppercase;
	line-height: 2;
}

.profile-skills li span {
	display: block;
	line-height: 0.5;
}

.profile-skills p {
	max-width: 350px;
}

.profile-skills .profile-list {
	height: 100%;
	width: 34%;
	padding-left: 20px;
	padding-bottom: 20px;
	margin-left: 50px;
}

.profile-skills .skills-list {
	height: 100%;
	width: 34%;
    padding-left: 20px;
	padding-bottom: 20px;
	margin-left: 20px;
}
.profile-list {
	border: hsl(0, 0%, 85%);
	border-style: solid;
	border-radius: 10px;
}
.skills-list {
	border: hsl(0, 0%, 85%);
	border-style: solid;
	border-radius: 10px;

}

ul {
	padding-left: 0;
}

/*---------------------------------------
PROFILE-SKILLS END-----------------------*/
 
/*----------------------------------------
EXPERIENCE--------------------------------*/

#experience {
    background: #e7fbff;
	padding-top: 10px;
	padding-bottom: 10px;
	display: flex;
	text-align: center;
}



#experience .experience {
    
	margin-bottom: 48px;
}

.experience .fredrik h5{
	color: hsl(201, 89%, 54%);
	font-family: 'Alegreya', serif;
	font-size: 24px;
	line-height: 55px;
	margin-bottom: 0;
	text-transform: uppercase;
	letter-spacing: 5px;
}

.experience .fredrik h3{
	color:black;
	font-family: 'Alegreya', serif;
	font-size:45px;
	line-height: 75px;
	max-width: 900px;
	margin-top: 0;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
}

/*----------------------------------------
EXPERIENCE END---------------------------*/

/*----------------------------------------
CONTACT----------------------------------*/

#contact {
    background: #ffffff;
	padding-top: 10px;
	padding-bottom: 10px;

}

.contact {
	display: flex;
	flex-direction: row;
	text-align: center;
	margin-bottom: 48px;
}

.contact .fredrik h5{
	color: hsl(201, 89%, 54%);
	font-family: 'Alegreya', serif;
	font-size: 24px;
	line-height: 55px;
	margin-bottom: 0;
	text-transform: uppercase;
	letter-spacing: 5px;
}

.contact .fredrik h3{
	color: black;
	font-family: 'Alegreya', serif;
	font-size:45px;
	line-height: 75px;
	max-width: 900px;
	margin-top: 0;
	margin-bottom: 40px;
	margin-left: auto;
	margin-right: auto;
}

.contact .contact-me {

	display: grid;
	grid-template-columns: 1fr 4fr;
	margin-left: 15%;
}
.contact-me strong {
	font-family: 'Courier New', Courier, monospace;
	font-size: 18;
	text-align: center;
}
.contact-me img {

	height: 240px;
	width: 240px;

	margin-left: 45%;
}

.contact .contact-me {
	display: grid;

}

.contact .contact-me li {
	text-align: right;
	padding-left: 50px;
	width: 60%;
	list-style: none;
}

/*----------------------------------------
CONTACT END------------------------------*/

/*----------------------------------------
FOOTER-----------------------------------*/

.footer-bottom {
	background-color: transparent;
	font-family: 'Courier New', Courier, monospace;
	text-align: center;
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/*----------------------------------------
FOOTER END--------------------------------*/